/* -------------------------------------------------------------------------- */
/*                          IMPORT GOOGLE FONTS HERE                          */
/* -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');
/* -------------------------------------------------------------------------- */
/**
 Font weight references:

 Regular: 400;
 Medium: 500;
 Semi-bold: 600;
 Bold: 700;
 Extra-bold: 800;
 */

/* -------------------------------------------------------------------------- */
/*                                  VARIABLES                                 */
/* -------------------------------------------------------------------------- */
:root {
  --standard-font: 'Space Grotesk', sans-serif;
  --brand-font: 'Yeseva One', cursive;
  --standard-black: #000000;
  --standard-white: #ffffff;
  --standard-grey: #e2e2e2;
  --standard-dark-grey: #545250;
  --standard-light-grey: #fcfaf6;
  --grey-passthough: #979797;
  --grey-border: #a9a9a8;
  --grey-placeholder: #716868;
  --grey-crumb: #53524e;
  --grey-disabled: #f2f2f2;
  --grey-chip: #f1f1f1;
  --grey-one: #d8d8d8;
  --bg-grey: #f7f7f7;
  --bg-dark: #383634;
  --bg-close-icon: #e9e7e3;
  --bg-light-gray: #e5e5e5;
  --standard-gold: #b59f66;
  --sale: #902f15;
  --error: #9a3515;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--standard-font);
  color: var(--standard-black);
  font-size: 16px; /* BASE FONT SIZE */
  line-height: 1.5em;
  font-weight: 400;
}

* [data-button] {
  cursor: pointer;
  user-select: none;
}

p {
  margin: 0;
}


input:focus {
  outline: none !important;
  outline-offset: none !important;
}

/* -------------------------------------------------------------------------- */
/*                                FONT CONTROLS                               */
/* -------------------------------------------------------------------------- */

a {
  text-decoration: none;
  color: var(--standard-black);
  transition: all ease-in-out 0.3s;
}

.uppercase {
  text-transform: uppercase;
}

.hover-text-main:hover {
  color: var(--standard-grey);
}

ul {
  list-style: none;
  padding: 0;
}

ul.bullets {
  margin-left: 40px;
  list-style: disc;
}

ul.bullets li {
  margin-bottom: 5px;
}

ol {
  margin: 0;
  padding-left: 1.8em;
}

/* -------------------------------------------------------------------------- */
/*                                   HELPERS                                  */
/* -------------------------------------------------------------------------- */

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: initial;
  transition: all 0.3s ease-in-out;
}

.btnGroup > * {
  margin-right: 10px;
}

.btnGroup > *:last-child {
  margin-right: 0px;
}

.disable-action {
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
}

.standardSpan {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.callout {
  margin: 40px 0;
  padding: 30px;
  background-color: var(--bg-light-gray);
  text-align: center;
}
