body {
  width: 100vw;
  height: 100%;
  color: #2f2534;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
  position: absolute;
  bottom: 30px;
  transform:translateX(30%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.main {
  width: 100%;
  height: 100%;
  padding: 10rem 0rem;
}
@media screen and (max-width: 360px) {
  .main {
    flex-direction: column;
    padding: 0;
    transform: translateY(20px);
  }
  .attribution {
    transform: translateX(0);
  }
}

.formContainer {
  width: 24rem;
  margin-left: 4em;
}

.bgImage img {
  position: absolute;
  width: 30%;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 360px) {
  body {
    height: 100vh;
    width: 360px;
    overflow: hidden;
  }
  .bgImage img {
    transform:rotate(90deg) translateX(-270px);
    width: 360px;
    height: 600px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  FORM INFO                                 */
/* -------------------------------------------------------------------------- */

form {
  font-size: 15px;
  text-transform: uppercase;
}

input {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 9px;
  margin-bottom: 18px;
  margin-top: 5px;
}

input::placeholder {
  color: #d3d3d3;
}

.placeholder {
  width: 96%;
}
@media screen and (max-width: 360px) {
  form {
    width: 85%;
    height: 100%;
  }
  input {
    padding: 16px;
  }
  .formContainer {
    width: 100%;
    margin-left: 50%;
    transform:translateX(-20%);
    margin-bottom: 0;
  }
  input::placeholder {
    font-size: 18px;
  }
}
/* -------------------------------------------------------------------------- */
/*                                  EXPO DATE                                 */
/* -------------------------------------------------------------------------- */

#fMonth,
#fYear {
  width: 40px;
  /* margin-bottom: 30px; */
}
#fMonth,
#fYear,
#fCvc {
  margin-bottom: 30px;
}
#fYear {
  margin-left: 8px;
}
@media screen and (max-width: 360px) {
  #fCvc {
    width: 100px;
  }
}

/* -------------------------------------------------------------------------- */

button {
  padding: 10px;
  width: 100%;
  border-radius: 9px;
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: #dfd7e1;
}
@media screen and (max-width: 360px) {
  button {
    padding: 25px;
  }
}

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             FRONT CARD DISPLAY                             */
/* -------------------------------------------------------------------------- */

.frontCardContainer {
  transform: translate(-4em, 2em);
  position: relative;
  height: 100%;
}
.frontCardContainer img {
  width: 23rem;
  border-radius: 10px;
}
#filledCircle {
  position: relative;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: translate(1.5em, -11.8em);
}
#emptyCircle {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
  transform: translate(4.6em, -13.4em);
}
#displayNumbers {
  position: relative;
  transform: translate(1.2em, -5.4em);
  font-size: 24px;
  color: white;
}
.displayExpo {
  transform: translate(0em, -11em);
  font-size: 11px;
  padding: 0em 2em;
  color: white;
}
#displayName {
  position: relative;
  margin-left: 7px;
  text-transform: uppercase;
  min-height: 100%;
}
.expoContainer {
  position: absolute;
  bottom: 0;
  right: 20px;
}
@media screen and (max-width: 360px) {
  .frontCardContainer {
    transform: translate(-20px, -20px);
    z-index: 1;
  }
  .frontCardContainer img {
    width: 18rem;
  }
  #filledCircle {
    width: 30px;
    height: 30px;
    transform: translate(1.5em, -8.8em)
  }
  #emptyCircle {
    width: 12px;
    height: 12px;
    transform: translate(3.8em, -10.2em);
  }
  #displayNumbers {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .expoContainer{
    right: 100px;
    color: white;
    right: 20px;
  }
  .cardsPreview {
    height: 150px;
  }
}
/* -------------------------------------------------------------------------- */
/*                              BACK CARD DISPLAY                             */
/* -------------------------------------------------------------------------- */

.backCardContainer {
  position: relative;
  transform: translateY(-3em);
}
.backCardContainer img {
  width: 23rem;
  border-radius: 10px;
  position: relative;
}

#backInfo {
  position: relative;
  transform: translate(18em, -7.4em);
  color: white;
}
@media screen and (max-width: 360px) {
  .backCardContainer {
    transform: translate(1.6em,-16.8em);
  }
  .backCardContainer img {
    width: 18rem;
    z-index: -1;
  }
  #backInfo {
    color: white;
    width: 10px;
    transform: translate(13.5em, -6.2em);
  }
}
/* -------------------------------------------------------------------------- */
/*                           COMPLETED CONFIRMATION                           */
/* -------------------------------------------------------------------------- */

.completed {
  height: 100%;
  width: 100%;
}
.completed img {
  margin-bottom: 3em;
  width: 6em;
}
.completed h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.completed p {
  margin-bottom: 42px;
}

/* -------------------------------------------------------------------------- */
/*                                ERROR MESSAGE                               */
/* -------------------------------------------------------------------------- */

.err {
  background: #ffe6ee;
  border: 1px solid #b1395f;
}
.emsg {
  color: #c12020;
  font-size: 13px;
  position: relative;
}
#expoErr {
  position: absolute;
  transform: translate(0px,70px);
}

#cvcErr {
  position: absolute;
  transform: translate(-200px,45px);
}
