body {
  width: 100vw;
  height: 100vh;
  color: #2f2534;
  overflow: hidden;
}

.bgImage {
  width: 100%;
  height: 250px;
  z-index: -1;
  display: block;  
}

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             FRONT CARD DISPLAY                             */
/* -------------------------------------------------------------------------- */

.frontCardContainer {
  z-index: 1;
  position: fixed;
  top: 160px;
  left: 55%;
  transform: translateX(-75%);
}
.frontCardContainer img {
  width: 320px;
  border-radius: 10px;
  position: fixed;
}
#filledCircle {
  position: relative;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}
#emptyCircle {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
  left: 60px;
  bottom: 2px;
}
#displayNumbers {
  position: relative;
  font-size: 24px;
  color: white;
  top: 50px;
  left: 20px;
}
.displayExpo {
  position: relative;
  font-size: 11px;
  color: white;
  top: 60px;
  left: 20px;
}
#displayName {
  position: relative;
  text-transform: uppercase;
  min-height: 100%;
}
.expoContainer {
  position: absolute;
  left: 240px;
}

/* -------------------------------------------------------------------------- */
/*                              BACK CARD DISPLAY                             */
/* -------------------------------------------------------------------------- */
.backCardContainer {
  z-index: 0;
  position: fixed;
  top: 50px;
  left: 46%;
  transform: translateX(-490%);
}
.backCardContainer img {
  max-width: 320px;
  border-radius: 10px;
  position: fixed;
}

#backInfo {
  position: relative;
  color: white;
  font-size: 13px;
  top: 73px;
  left: 255px;
}

/* -------------------------------------------------------------------------- */
/*                                  FORM INFO                                 */
/* -------------------------------------------------------------------------- */

.formContainer {
  margin-top: 140px;
  width: 100%;
}
form {
  font-size: 15px;
  text-transform: uppercase;
  width: 90%
}

input {
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 18px;
  margin-bottom: 18px;
  margin-top: 5px;
  width: 90%;
}

input::placeholder {
  color: #aaaaaa;
  font-size: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                  EXPO DATE                                 */
/* -------------------------------------------------------------------------- */

#fMonth,
#fYear {
  width: 20%;
}
#fMonth,
#fYear,
#fCvc {
  margin-bottom: 30px;
}
#fCvc {
  width: 60%;
}
#fYear {
  margin-left: 8px;
}


/* -------------------------------------------------------------------------- */

button {
  width: 100%;
  height: 65px;
  border-radius: 9px;
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: #dfd7e1;
  font-size: 24px;
}




/* -------------------------------------------------------------------------- */
/*                           COMPLETED CONFIRMATION                           */
/* -------------------------------------------------------------------------- */

.completed {
  height: 100%;
  width: 100%;
}
#completedCheck {
  margin-bottom: 3em;
  width: 6em;
}
.completed h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.completed p {
  margin-bottom: 42px;
}

/* -------------------------------------------------------------------------- */
/*                                ERROR MESSAGE                               */
/* -------------------------------------------------------------------------- */

.err {
  background: #ffe6ee;
  border: 1px solid #b1395f;
}
.emsg {
  color: #c12020;
  font-size: 13px;
  position: relative;
}
#expoErr {
  position: absolute;
  transform: translateY(90px);
}

#cvcErr {
  position: absolute;
  transform: translateY(90px);
}

/* -------------------------------------------------------------------------- */
/*                                 ATTRIBUTION                                */
/* -------------------------------------------------------------------------- */

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
  position: absolute;
  bottom: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
