
body {
  width: 100vw;
  height: 100%;
  color: #2f2534;
}

.bgImage {
  width: 100%;
  height: 250px;
  z-index: -1;
  display: block;
  position: absolute;
  top:0;
}

/* -------------------------------------------------------------------------- */

.cardsContainer {
  margin-top: 130px;
}

/* -------------------------------------------------------------------------- */
/*                             FRONT CARD DISPLAY                             */
/* -------------------------------------------------------------------------- */

.frontCardContainer {
  z-index: 1;
  position: relative;
}
.frontCardContainer img {
  width: 280px;
  border-radius: 10px;
  position: fixed;
}
#filledCircle, #emptyCircle, #displayNumbers, #displayName, .expoContainer {
  position: relative;
}
#filledCircle {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 17px;
  left: 10px;
}
#emptyCircle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid white;
  top: -5px;
  left: 52px;
}
#displayNumbers {
  font-size: 21px;
  color: white;
  top: 20px;
  width: fit-content;
}
.displayExpo {
  font-size: 11px;
  color: white;
  position: relative;
}
#displayName {
  text-transform: uppercase;
  min-height: 100%;
}
.expoContainer {
  min-height: 100%;
  width: fit-content;
}


/* -------------------------------------------------------------------------- */
/*                              BACK CARD DISPLAY                             */
/* -------------------------------------------------------------------------- */
.backCardContainer {
  z-index: 0;
  position: fixed;
  top: 10%;
  left: 22%;
}
.backCardContainer img {
  width: 280px;
  border-radius: 10px;
  position: absolute;
}

#backInfo {
  color: white;
  font-size: 13px;
  position: relative;
  top: 63px;
  left: 220px;
}

/* -------------------------------------------------------------------------- */
/*                                  FORM INFO                                 */
/* -------------------------------------------------------------------------- */

.formContainer {
  margin-top: 20%;
}
.lowerFormContainer {
  width: 50%;
}
form {
  font-size: 15px;
  text-transform: uppercase;
  width: 90%;
}

input {
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 18px;
  margin-top: 5px;
  width: 85vw;
  min-height: 35px;
  padding: .3em .5em;
}

input:placeholder-shown{
  color: #aaaaaa;
  font-size: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                  EXPO DATE                                 */
/* -------------------------------------------------------------------------- */

#fMonth,
#fYear {
  width: 40px;
}

#fMonth,
#fYear,
#fCvc {
  margin-bottom: 30px;
}
.cvcContainer {
  margin-left: 10%;
}
#fCvc {
  width: 80px;
}
#fMonth {
  margin-right: 8px;
}
#fYear {
  margin-right: 40px;
}


/* -------------------------------------------------------------------------- */

button {
  height: 65px;
  border-radius: 9px;
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: #dfd7e1;
  font-size: 24px;
}




/* -------------------------------------------------------------------------- */
/*                           COMPLETED CONFIRMATION                           */
/* -------------------------------------------------------------------------- */

.completed {
  height: 100%;
  width: 100%;
}
#completedCheck {
  margin-bottom: 3em;
  width: 6em;
}
.completed h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.completed p {
  margin-bottom: 42px;
}

/* -------------------------------------------------------------------------- */
/*                                ERROR MESSAGE                               */
/* -------------------------------------------------------------------------- */

.err {
  background: #ffe6ee;
  border: 1px solid #b1395f;
}
.emsg {
  color: #c12020;
  font-size: 13px;
  position: relative;
}
#expoErr {
  position: absolute;
  transform: translateY(80px);
}

#cvcErr {
  position: absolute;
  transform: translateY(80px);
}

/* -------------------------------------------------------------------------- */
/*                                 ATTRIBUTION                                */
/* -------------------------------------------------------------------------- */

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
  margin-top: 40px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
